on init
    mount none /sbin/chargeonlymode /sbin/charger bind
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /system/lib64/hw/power.qcom.so /vendor/lib64/hw/power.qcom.so bind
    mount none /system/lib64/soundfx/libvolumelistener.so /vendor/lib64/soundfx/libvolumelistener.so bind
    mount none /system/lib/soundfx/libvolumelistener.so /vendor/lib/soundfx/libvolumelistener.so bind
    mount none /system/bin/hw/android.hardware.health@2.0-service /vendor/bin/hw/android.hardware.health@2.0-service bind
    mount none /dev/null /vendor/etc/init/vendor.qti.hardware.perf@1.0-service.rc bind

    # Boot time FS tune
#    write /sys/block/sda/queue/iostats 0
#    write /sys/block/sda/queue/scheduler cfq
#    write /sys/block/sda/queue/iosched/slice_idle 0
#    write /sys/block/sda/queue/read_ahead_kb 2048
#    write /sys/block/sda/queue/nr_requests 256
#    write /sys/block/sdf/queue/iostats 0
#    write /sys/block/sdf/queue/scheduler cfq
#    write /sys/block/sdf/queue/iosched/slice_idle 0
#    write /sys/block/sdf/queue/read_ahead_kb 2048
#    write /sys/block/sdf/queue/nr_requests 256
#    write /sys/block/dm-0/queue/read_ahead_kb 2048
#    write /sys/block/dm-1/queue/read_ahead_kb 2048
#    write /sys/block/dm-2/queue/read_ahead_kb 2048

on boot
    chown system system /proc/touchpanel/wake_gesture
    chmod 0660 /proc/touchpanel/wake_gesture

    chown system system /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/disp_param
    chmod 0660 /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/disp_param
    chown system system /sys/devices/platform/soc/ae00000.qcom,mdss_mdp/drm/card0/card0-DSI-1/hbm_status

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1766400
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2803200
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 300000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 825600
    #write /sys/module/cpu_boost/parameters/input_boost_freq "0:0 1:0 2:0 3:0 4:0 5:0 6:0 7:0"
    write /sys/module/cpu_boost/parameters/input_boost_ms 40
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 1
    write /sys/block/sda/queue/scheduler maple
    write /sys/block/sdf/queue/scheduler maple


    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0
    write /sys/module/adreno_idler/parameters/adreno_idler_active Y

    write /sys/class/devfreq/soc:qcom,l3-cdsp/governor cpufreq

    write /sys/module/msm_performance/parameters/touchboost 0
    write /proc/sys/vm/swappiness 40
    write /proc/sys/vm/vfs_cache_pressure 100
    #write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1
    #write /sys/module/sync/parameters/fsync_enabled 0

    write /sys/block/sda/queue/read_ahead_kb 256
    write /sys/block/sdf/queue/read_ahead_kb 256

    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/hispeed_freq 0
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/hispeed_freq 0
    # Enable iowait boost to ramp up the CPU on repeated iowait wakeups
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 1
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/iowait_boost_enable 1

    chown system system /sys/kernel/sound_control/mic_gain
    chmod 0660 /sys/kernel/sound_control/mic_gain

    chown system system /sys/kernel/sound_control/earpiece_gain
    chmod 0660 /sys/kernel/sound_control/earpiece_gain

    chown system system /sys/kernel/sound_control/headphone_gain
    chmod 0660 /sys/kernel/sound_control/headphone_gain

    chown system system /sys/kernel/sound_control/comp
    chmod 0660 /sys/kernel/sound_control/comp

on late-fs
    # Boot time FS tune
    write /sys/block/dm-3/queue/read_ahead_kb 2048

service vendor.ss_ramdump_local /vendor/bin/subsystem_ramdump
    class late_start
    user system
    group system
    disabled

on property:init.svc.vendor.cnss_diag=running
    stop vendor.cnss_diag

on property:init.svc.vendor.ipacm-diag=running
    stop vendor.ipacm-diag

on property:persist.vendor.sys.ssr.enable_ramdumps=1
    start vendor.ss_ramdump_local

on property:persist.vendor.sys.ssr.enable_ramdumps=0
    stop vendor.ss_ramdump
    stop vendor.ss_ramdump_local

on property:sys.boot_completed=1
    stop vendor.ss_ramdump

# Set the default IRQ affinity to the silver cluster.
    write /proc/irq/default_smp_affinity f

# Runtime fs tuning: as we have init boottime setting and kernel patch setting
# default readahead to 2048KB. We should adjust the setting upon boot_complete
# for runtime performance
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/nr_requests 128
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sda/queue/scheduler bfq

    write /sys/block/sde/queue/read_ahead_kb 128
    write /sys/block/sde/queue/nr_requests 128
    write /sys/block/sde/queue/iostats 1
    write /sys/block/sde/queue/scheduler bfq

    write /sys/block/dm-0/queue/read_ahead_kb 128
    write /sys/block/dm-0/queue/nr_requests 128
    write /sys/block/dm-0/queue/iostats 1
    write /sys/block/dm-0/queue/scheduler bfq



on property:persist.baikal.compander=1
    write /sys/kernel/sound_control/comp "1 0"
    write /sys/kernel/sound_control/comp "2 0"

on property:persist.baikal.compander=0
    write /sys/kernel/sound_control/comp "1 -1"
    write /sys/kernel/sound_control/comp "2 -1"

on property:persist.baikal.mic_gain=0
    write /sys/kernel/sound_control/mic_gain 0

on property:persist.baikal.mic_gain=1
    write /sys/kernel/sound_control/mic_gain 8

on property:persist.baikal.earpiece_gain=0
    write /sys/kernel/sound_control/earpiece_gain 0

on property:persist.baikal.earpiece_gain=1
    write /sys/kernel/sound_control/earpiece_gain 8

on property:persist.baikal.headphone_gain=0
    write /sys/kernel/sound_control/headphone_gain "0 0"

on property:persist.baikal.headphone_gain=1
    write /sys/kernel/sound_control/headphone_gain "8 8"


